.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.form-group {
    width: 400px;
    margin : 20px auto;
}

.button {
    padding: 10px 0;
    width: 400px;
    background-color: rgb(115, 77, 211);
    border: 0px;
}

.spacing {
    margin-bottom: 40px;
}

.row {
    width: 400px;
    margin: 20px auto;
}

.column {
    border: 1px solid rgb(215, 211, 211);
    border-radius: 5px;
    padding: 20px;
    width: 185px;
}

.column1 {
    margin-right: 15px;
}

.column2 {
    margin-left: 15px;
}

.add-border {
    border: 2px solid rgb(115, 77, 211);
}

.step-container {
    width: 450px;
    margin-bottom: 50px;
}

.title-card {
    display: flex;
    margin-bottom: 50px;
}

.title-name {
    margin-left: 10px;
    margin-bottom: 0;
}